.head {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 42px;
}

.nav1 {
  color: black;
  transition: 0.2s ease-in;
  display: block;



}

.nav1:hover {
  color: red;

}

.nav1:active {
  color: red;

}

.new {
  font-weight: bold;
  color: rgb(213, 126, 5);
  font-size: 12px;
}

.sh {

  font-weight: bold;
}

.sc {
  font-size: 12px;
}

.lin {
  text-decoration: none;
  color: rgba(25, 24, 24, 0.845);
  transition: 0.9s;
  font-weight: bold;
}

.lin:hover {
  text-decoration: underline;
}


.din {
  text-decoration: none;
  color: rgba(25, 24, 24, 0.845);
  transition: 0.9s;
}

.din:hover {
  text-decoration: underline;
}
.card:hover{
      scale: 1.01;
      cursor: pointer;
      
      
    }
    a{
      color: black;
      text-decoration: none;
    }
    .b:hover{
      text-decoration: underline;
    }
    .addcart{
      background-color: rgba(208, 4, 4, 0.911);
      color: white;
      padding: 5px 0px;
      border: none;
      border-radius: 10px;
      width: 20%;
      float: right;
      
      
    }
    .addcart:hover{
      background-color: rgb(185, 2, 2);
    }
    .addcart:active{
      background-color: rgb(139, 5, 5);
      color: rgb(233, 230, 230);
    
    }

  footer {
      background-color: #fff;
      padding: 60px 0;
      color: #000;
      font-family: "Poppins", sans-serif;
    }

    footer h5 {
      font-weight: 600;
      margin-bottom: 20px;
    }

    footer ul {
      list-style: none;
      padding: 0;
    }

    footer ul li {
      margin-bottom: 10px;
    }

    footer ul li a {
      text-decoration: none;
      color: #000;
      font-size: 15px;
    }

    footer ul li a:hover {
      text-decoration: underline;
    }

    .brand-text h3 {
      font-family: "Times New Roman", serif;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .brand-text p {
      font-size: 15px;
      line-height: 1.6;
    }

    .social-icons a {
      color: #000;
      font-size: 22px;
      margin-right: 15px;
      transition: 0.3s;
    }

    .social-icons a:hover {
      color: #c00; /* Red hover */
    }

    .signup-section {
      background-color: #111;
      color: white;
      padding: 20px 0;
      text-align: center;
      margin-top: 100px;
    }

    .signup-section button {
      background-color: #d70000;
      color: white;
      border: none;
      padding: 10px 25px;
      border-radius: 5px;
      font-weight: 600;
    }

    .signup-section button:hover {
      background-color: #b30000;
    }
    .inpp{
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      border-radius: 2px;
      border: 1px solid black
    }
    .rem:active{
    color: red;
    }